<div class="page-header">
  <h1>All Statuses</h1>
</div>

<%= link_to "[+] Post a New Status", new_status_path, class: "btn btn-primary" %>

<% @statuses.each do |status| %>
<div class="status">
  <div class="row">
    <div class="span1">
      <%= image_tag status.user.gravatar_url %>
    </div>
    <div class="span7">
      <h4><%= status.user.full_name %></h4>
      <p><%= status.content %></p>
      <div class="meta">
        <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
        <span class="admin">
          |
        <%= link_to "Edit", edit_status_path(status) %> | 
        <%= link_to "Delete", status, method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
        </span>
      </div>
    </div>
  </div>
</div>
<% end %>