// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status {
	border-bottom : 1px solid #aaa;
	padding : 5px 0px;
}

.status p {
	margin : 4px 0px;
}

.status.hover {
	background : #FAFAFA;
	font-size : 1.1em;
}

.status .admin{
	display : none;
}

.status.hover .admin{
	display : inline;
}